In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('Global_Mobility_Report.csv')

In [5]:
low_memory=False

In [6]:
df.head()

,country_region_code,country_region,sub_region_1,sub_region_2,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284489 entries, 0 to 284488
Data columns (total 11 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   country_region_code                                 284417 non-null  object
 1   country_region                                      284489 non-null  object
 2   sub_region_1                                        274985 non-null  object
 3   sub_region_2                                        190636 non-null  object
 4   date                                                284489 non-null  object
 5   retail_and_recreation_percent_change_from_baseline  239356 non-null  float64
 6   grocery_and_pharmacy_percent_change_from_baseline   232094 non-null  float64
 7   parks_percent_change_from_baseline                  123860 non-null  float64
 8   transit_stations_percent_change_from_baseline       151104 non-null  float64
 9   workplaces_percent_change_from_baseline             273621 non-null  float64
 10  residential_percent_change_from_baseline            159503 non-null  float64
dtypes: float64(6), object(5)
memory usage: 23.9+ MB

In [8]:
df['country_region_code'].value_counts()

US    194380
GB     10909
SI      3674
JP      3456
RO      3096
       ...
HT        72
KG        72
BS        72
FJ        72
YE        72
Name: country_region_code, Length: 131, dtype: int64

In [7]:
df['country_region'].value_counts()

United States             194380
United Kingdom             10909
Slovenia                    3674
Japan                       3456
Romania                     3096
                           ...
Malta                         72
Zimbabwe                      72
Botswana                      72
Bosnia and Herzegovina        72
Guatemala                     72
Name: country_region, Length: 132, dtype: int64